@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background: var(--background);
}

.list-item {
  @apply uppercase text-[30px] tracking-[0.2em] font-inria text-primary;
}
