@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --active-color: #C2A79A;
  --pagination-color: #FFF2E9;
  --gold-color: #DAA520;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background: var(--background);
}

.list-item {
  @apply uppercase text-[30px] tracking-[0.2em] font-inria text-primary;
}

.custom-bullet {
  margin: 0 !important;
  margin-right: 40px !important;
  margin-bottom: 20px !important;
}

.custom-bullet:last-child {
  margin-right: 0 !important;
}